page-addtask {
    .button{
        color: white;
        height:50px;
         width:90%;
         bottom:15%;
         position: fixed;
         background-color: brown;
                }
                .toolbar-background{
                    text-align: center;
                    color:red;
                    background-color: brown;
                    
                }
                ion-content{
                    background-color: burlywood !important;
}
}
