page-second {
    .button{
        color: whitesmoke;
        background-color: brown;
  
                }
                .toolbar-background{
                    text-align: center;
                    color:red;
                    background-color: brown;
                    
                }
ion-content{
    background-color: burlywood !important;
}
}